<h2><%= title %></h2>
<% if(locals.successMsg) { %>
     <li> <%= successMsg %> </li>
<% } %> 
<% if(locals.messages.error) { %>
      <li> <%= messages.error  %></li>
<% } %> 
<div class="login-container">
    <form action="/user/login" method="POST">
        <label for="username">email</label>
        <input type="email" name="email" id="username">
        <label for="password">password</label>
        <input type="text" name="password" id="password">
        <input type="submit" value="submit">
    </form>
</div>